body{
    text-align: center;
    background-image: url(background.jpg);
}

.button{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: solid black 10px;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}